.remove-card {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #d4f5ff;
    width: 25px;
    height: 30px;
    background-color:#140058;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}